body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: #f9f9f9;
  }
  
  #app {
    margin: 0 auto;
    width: 350px;  
  }

  a.card {
    display: block;
    width: 350px;
    margin-top: 30px;
    background: #fff;
    -webkit-box-shadow: 2px 2px 5px -1px rgba(173, 173, 173, 1);
    -moz-box-shadow: 2px 2px 5px -1px rgba(173, 173, 173, 1);
    box-shadow: 2px 2px 5px -1px rgba(173, 173, 173, 1);
    color: #555555;
    text-decoration: none;
  }
  
  a.card:hover {
    color: #f8116a;
  }
  
  div.card-image {
    width: 350px;
    height: 240px;
    background-size: cover;
  }
  
  h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    padding: 25px;
    margin: 0px;
  }